/* Connect Wallet Style */
.wallet-adapter-button-trigger {
  background-color: transparent !important;
  box-shadow: none !important;
  transition-duration: 0.3s;
}

.wallet-adapter-button-trigger:hover {
  background-color: transparent !important;
}

.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif !important;
  font-weight: 600;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
}

.wallet-adapter-button-trigger .wallet-adapter-button-start-icon {
  display: none !important;
}

.__animate_light {
  animation: fadeIn 10s ease-in-out infinite;
}
