@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
}

* {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    bakcground: rgba(0, 0, 0, 0);
    position: fixed;
  }

  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 9999px;
  }
}
.floating-element {
  animation: floatAnimation 3s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes fire {
  0% {
    translatey: 1;
    translatex: 1;
    opacity: 0.6;
  }
  50% {
    translatey: 0.8;
    translatex: 0.8;
    opacity: 0.4;
  }
  100% {
    translatey: 1.2;
    translatex: 1.2;
    opacity: 0.6;
  }
}

.blinking-element {
  animation: blink 5s ease-in-out infinite;
}

.fire-element {
  animation: fire 2s ease-in-out infinite;
}

@keyframes blink-shine {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}

.blinking-shine-element {
  animation: blink-shine 3s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
}
